[Unit]
Description=SSHFS mount av filserver (/mnt/felles)
After=network-online.target
Wants=network-online.target

[Mount]
What=ansible@192.168.56.50:/srv/felles
Where=/mnt/felles
Type=fuse.sshfs
Options=IdentityFile=/home/ansible/.ssh/id_ed25519,StrictHostKeyChecking=yes,UserKnownHostsFile=/home/ansible/.ssh/known_hosts,allow_other,_netdev,reconnect,ServerAliveInterval=15,ServerAliveCountMax=3

[Install]
WantedBy=multi-user.target
